@page "/events"
@inject ITicketService service
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">StartTime</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AvailableEvent e in events)
        {
            <tr>
                <th scope="row">@e.Id</th>
                <td>@e.Name</td>
                <td>@e.StartTime</td>
                <td><button class="btn btn-success" @onclick="() => { BuyTicket(e.Id); }">Buy Ticket</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    ApiTicketController controller;
    List<AvailableEvent> events = new();

    protected override async Task OnInitializedAsync()
    {
        controller = new(service);
        events = (await controller.GetAllAvailableEvents()).ToList();
    }

    public void BuyTicket(int id)
    {
        Navigation.NavigateTo($"purchase/{id}");
    }
}
